# Default
*                   text=auto

# Source
*.java              text diff=java

# Documentation
*.md                text diff=markdown
*.png               binary

# Configuration
.gitattributes      text
.gitignore          text
